Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Scenes/Blockout_Level_BuiltData.uasset
Content/Blueprints/Characters/PlayerBase_CBP.uasset
